.post{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    background-color: #fff;
    .container{
        padding: 20px;

        .user{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .userinfo{
                display: flex;
                gap: 13px;

                img{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }
               .details{

                span{
                    display: flex;
                    flex-direction: column;
                }

                .name{
                    font-weight: 500;
                    font-size: 15px;
                }
                .date{
                    font-size: 12px;
                }
               }
            }
        }

        .content{
            img{
                
                width: 100%;
                height: 350px;
            }
            p{
                font-size: 13px;
            }
        }

        .info{
            display: flex;
            
            margin-top: 13px;
            
            span{
                margin-right: 13px;
                margin-left: 5px;
            }

            .item{
                display: flex;
                cursor: pointer;
                align-items: center;
               
            }
        }
    }
}